.view.fifth-effect a {
    position: relative;
    display: block;
}

.view.fifth-effect .status-label {
    position: absolute;
    z-index: 20;
    bottom: 0;
    right: 0;
    height: 200px;
    width: 200px;
    display: inline-block !important;
}

.s-btm .underline
{
    height: 2px;
    width: 100px;
    background-color: #6FBCBD;
    margin-bottom: 20px;
}

.s-btm.urgently-need-help .underline
{
    background-color: #E04D47;
}

.services-top.heading h2
{
    text-align: left;
}

@media screen and (max-width: 1024px) {
    .view.fifth-effect .status-label {
        height: 160px;
        width: 160px;
    }

    .s-btm {
        width: 216px;
        margin: auto;
    }
}

@media screen and (max-width: 768px) {
    .view.fifth-effect .status-label {
        height: 120px;
        width: 120px;
    }

    .s-btm .underline {
        width: 95px;
    }

    .s-btm {
        width: 100%;
    }
}

@media screen and (max-width: 640px) {
    .view.fifth-effect .status-label {
        height: 120px;
        width: 120px;
    }

    .s-btm .underline {
        width: 90px;
    }
}

@media screen and (max-width: 480px) {
    .view.fifth-effect .status-label {
        height: 120px;
        width: 120px;
    }

    .s-btm .underline {
        width: 80px;
    }
}

@media screen and (max-width: 320px) {
    .view.fifth-effect .status-label {
        height: 160px;
        width: 160px;
    }

    .s-btm .underline {
        width: 70px;
    }
}