.view.fifth-effect a {
    position: relative;
    display: block;
}

.view.fifth-effect .status-label {
    position: absolute;
    z-index: 20;
    bottom: 0;
    right: 0;
    height: 200px;
    width: 200px;
    display: inline-block !important;
}

.s-btm .underline
{
    height: 2px;
    width: 100px;
    background-color: #6FBCBD;
    margin-bottom: 13px;
}

.s-btm.urgently-need-help .underline
{
    background-color: #E04D47;
}

.services-top.heading h2
{
    text-align: left;
}

@media screen and (max-width: 1024px) {
    .s-btm {
        width: 216px;
        margin: auto;
    }

    .col-md-3.services-left .needy-item {
        margin-bottom: 40px;
    }
}

@media screen and (max-width: 768px) {
    .s-btm .underline {
        width: 95px;
    }

    .s-btm {
        width: 100%;
    }

    .col-md-3.services-left .needy-item {
        margin-bottom: 35px;
    }
}

@media screen and (max-width: 640px) {
    .s-btm .underline {
        width: 90px;
    }

    .col-md-3.services-left .needy-item {
        margin-bottom: 30px;
    }
}

@media screen and (max-width: 480px) {
    .s-btm .underline {
        width: 80px;
    }

    .col-md-3.services-left .needy-item {
        margin-bottom: 25px;
    }
}

@media screen and (max-width: 320px) {
    .s-btm .underline {
        width: 70px;
    }

    .col-md-3.services-left .needy-item {
        margin-bottom: 20px;
    }
}