.contacts-form .container {
    padding-top: 30px;
}

.address-left {
    padding: 1.5em 15px;
    background: #1A8D8E;
    text-align: center;
    font-size: 100%;
    height:100%;
}

.address-left p {
    display: inline-block;
    vertical-align: middle;
    font-size: 15px;
    margin-left: 1px;
    color: #FFF;
}

.main-text-info {
    border: 2px solid #136768;
    border-radius: 4px;
}

.address-left span {
    box-sizing: border-box;
    display: inline-block;
    color: white;
    font-size: 35.2px;
    font-style: normal;
    font-weight: normal;
    height: 35px;
    line-height: 35.2px;
    position:relative;
    text-align: center;
    top: 1px;
    vertical-align: middle;
    width: 35.2031px;
}

.address-middle {
    background: white;
}

.address-right a {
    color: white;
}

.address-right a:hover {
    color: orange;
}

.address-middle span {
    color: #000;
}

.address-middle p {
    color: #000;
}

.btn-full-info {
    width: 100%;
}

.full-text-info label {
    margin-right: 16px;
}

.full-text-info table {
    margin-top: 5px;
}

.full-text-info td {
    vertical-align: bottom;
}

.map {
    margin-top: 30px;
    padding-bottom: 20px;
}

.mail-section {
    text-align: center;
    background-color: orange;
}

.alert span {
    margin-right: 5px;
    box-sizing: border-box;
    display: inline-block;
    font-size: 35px;
    font-style: normal;
    font-weight: normal;
    text-align: center;
    vertical-align: top;
}

.alert p {
    display: inline-block;
}

.mail-form-container {
    padding: 2px;
    margin-bottom: 30px;
    border-left: 2px solid #136768;
}

.mail-form {
    padding-top: 0;
    padding-bottom: 11px;
    text-align: center;
    border-radius: 3px;
}

.mail-form label {
    padding-bottom: 5px;
}

.required-field-mark {
    color: #BA0000;
    font-size: 20px;
    font-weight: bold;
}

.g-recaptcha {
    display: inline-block;
}