#home
{
    border-bottom: solid 3px #136768;
    z-index: 9999;
}

.header-container
{
    height: 73px;
}

.header .header_block
{
    background-color: #FFF;
}

.header .header_block .top-menu ul
{
    height: 73px;
}

.header .header_block .logo-block
{
    float: left;
}

.header .header_block .main_link
{
    z-index: 999999;
    float: left;
}

.header .header_block .company-info-block
{
    float: left;
    margin-left: 6px;
    color: #738899;
}

.header .header_block .company-info-block .company-name
{
    font-weight: bold;
    padding-top: 18px;
    font-size: 18px;
}

.header .header_block .company-info-block .company-description
{
    padding-top: 6px;
}

.header .header_block .logo
{
    padding: 7px 0;
    width: 59px;
}

.header .top-menu .nav
{
    float: right;
}

.header-container .current-menu-item a,
.header-container .current_page_item a
{
    border-bottom: solid 3px #6FBCBD;
}

.header-container .nav > li > a:hover,
.header-container .nav > li > a:focus
{
    background-color: #6FBCBD;
    color: #FFF;
}

.header .header_block .top-menu ul li a
{
    padding: 30px 40px;
}

.banner_block
{
    padding: 3em 4em;
    width: 100%;
    font-family: 'Roboto-Medium', sans-serif;
    background-color: #136768;
    color: #FFF;
    word-wrap: break-word;
}

.banner_block h3
{
    color: #6FBCBD;
}

@media screen and (min-width: 992px) {
    .header .header_block .main_link
    {
        margin-left: 40px;
    }

    .header .header_block .top-menu ul li a
    {
        padding: 30px 29px;
    }
}

@media screen and (max-width: 768px) {
    .header .header_block
    {
        background-color: #FFF;
    }

    .top-menu ul
    {
        z-index: 9999;
        top: 70px;
    }

    .header .space_block
    {
        height: 10px;
        background-color: #e6e6e6;
    }

    .header .header_block .company-info-block .company-name
    {
        padding-top: 16px;
    }

    .header .header_block .logo
    {
        width: 52px;
    }

    .header .header_block .main_link
    {
        margin-left: 20px;
    }

    .header-container
    {
        height: 62px;
    }

    .header .header_block .top-menu .menu
    {
        margin-top: 14px;
    }

    .header .header_block .top-menu ul li a
    {
        padding: 13px 40px;
    }

    .header-container .nav > li > a:hover,
    .header-container .nav > li > a:focus
    {
        background-color: #6FBCBD;
        color: #FFF;
    }

    .header-container .current-menu-item a,
    .header-container .current_page_item a
    {
        border-bottom: none;
    }
}

@media screen and (max-width: 375px) {
    .header .header_block .company-info-block
    {
        width: 100px;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

@media screen and (max-width: 480px) {
    .header .header_block .logo
    {
        width: 47px;
    }

    .header .header_block .main_link
    {
        margin-left: 0;
    }

    .header-container
    {
        height: 57px;
    }

    .header .header_block .company-info-block .company-name
    {
        padding-top: 14px;
    }

    .banner_block h3.head
    {
        display: none;
    }
}

@media (min-width: 768px) {
    .header .container {
        width: 800px;
    }

    .header .header_block .top-menu ul li a
    {
        padding: 30px 16px;
    }
}

@media (min-width: 992px) {
    .header .container {
        width: 970px;
    }

    .banner_block h1.head
    {
        font-size: 42px;
    }

    .header .header_block .top-menu ul li a
    {
        padding: 30px 29px;
    }
}

@media (min-width: 1200px) {
    .header .container {
        width: 1170px;
    }

    .banner_block h1.head
    {
        font-size: 50px;
    }

    .header .header_block .top-menu ul li a
    {
        padding: 30px 40px;
    }
}