.container.orphanage {
    padding-left: 0;
    padding-right: 30px;
}

.orphanage-info {
    padding-top: 30px;
    margin-bottom: 30px;
    background-color: #FFF;
    border-radius: 15px;
}

.orphanage-info .inner-container{
    width: 100%;
    margin-bottom: 20px;
    position: relative;
}

.orphanage-info .col .col-sm-3 {
    padding: 0;
}


.orphanage-info .inner-container.image,
.orphanage-info .inner-container.edit{
    text-align: center;
}

.orphanage-info .inner-container.edit a span {
    font-size: 18px;
}

.orphanage-info .well {
    word-wrap: break-word;
}

.orphanage-info .btn {
    font-weight: bold;
}

.orphanage-info .btn.long-description {
    margin-bottom: 20px;
}

.orphanage-info .btn.donate {
    float: right;
}

.orphanage-info .inner-image-block {
    display: inline-block;
    position: relative;
}

.orphanage-info .orphanage-image {
    width: 160px;
    height: 160px;
}

@media screen and (max-width: 760px) {
    .container.orphanage {
        padding-left: 15px;
        padding-right: 15px;
    }
}
