.projects .header
{
    margin-bottom: 30px;
}

.projects .list
{
    margin-left: 40px;
    margin-bottom: 60px;
}

.projects .list li
{
    margin-bottom: 20px;
}

.projects .add-buttons
{
    margin-bottom: 40px;
}

.projects .edit-document
{
    margin-left: 10px;
    color: #136768;
}

.projects .edit-document:hover
{
    color: #69AFAF;
}

#element_to_pop_up .content
{
    max-height: 450px;
    overflow-y: auto;
    padding-right: 15px;
    word-wrap: break-word;
}

.child-form.document .container
{
    margin-bottom: 50px;
}

.projects .right-column {
    margin-bottom: 50px;
}

@media (min-width: 1200px) {
    .projects .left-column {
        padding-left: 10%;
    }
}

@media (max-width: 768px) {
    .projects .left-column {
        padding-left: 15px;
    }

    #element_to_pop_up .content {
        max-height: 350px;
    }

    #element_to_pop_up {
        max-height: 450px;
        max-width: 70%;
    }
}

@media (max-width:480px) {
    #element_to_pop_up .content {
        max-height: 250px;
    }

    #element_to_pop_up {
        max-height: 300px;
        max-width: 80%;
    }
}