.stocks-block {
    margin-top: 3%;
}

.stock {
    padding: 0 4em;
    width: 100%;
    font-family: 'Roboto', sans-serif;
}

.stock-info {
    padding-top: 40px;
    padding-bottom: 30px;
    border-radius: 15px;
}

.stock-info .inner-container{
    width: 100%;
    margin-bottom: 20px;
    position: relative;
}

.stock-info .col .col-sm-3 {
    padding: 0;
}

.stock-info .inner-container.image {
    height: 150px;
    overflow: hidden;
}

.stock-info .inner-container.image,
.stock-info .inner-container.edit{
    text-align: center;
}

.stock-info .inner-container.edit a span {
    font-size: 18px;
}

.stock-info .short-description {
    word-wrap: break-word;
}

.stock-info .btn {
    font-weight: bold;
}

.stock-info .btn.long-description {
    margin-bottom: 20px;
}

.stock-info .btn.donate {
    float: right;
}

.stock-info .inner-image-block {
    display: inline-block;
    position: relative;
    margin-top: -34px;
}

.stock-info .stock-image {
    width: 160px;
}

.stock-info .head {
    margin-top: 0;
}

@media screen and (max-width: 760px) {
    .container.stock {
        padding-left: 15px;
        padding-right: 15px;
    }
}
